body {
    font-family: 'Roboto';
    background-color:#F3F3F3;
}

.container {
    width: 100%;
    height: 100vh;
}

.header {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 26px;
}

.header img {
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

.people {
    width: 42px;
    height: 42px;
    margin-right: 21px;
}


.message {
    height: 40px;
    width: 100%;
    background-color: #FFFFFF;
    margin-top: 2px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.door {
    background-color: #DCDCDC;
}

.footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.footer input {
    height: 30px;
    width: 80%;
    margin-left: 17px;
    border-style: solid;
    border-width: 0px;
}

.sender, .recipient {
    font-weight: bold;
}

.paper {
    width: 26px;
    height: 26px;
    margin-right: 18px;
    cursor: pointer;
}

.line {
    background-color: white;
    font-size: 14px;
    padding: 10px 10px;
    margin-bottom: 4px;
}

.status {
    background-color: #DCDCDC;
    font-size: 14px;
    padding: 10px 10px;
    margin-bottom: 4px;
}

.private {
    background-color: #FFDEDE;
}

.timer {
    color: #AAAAAA;
}

.messages {
    height: 69vh;
    margin-top: 100px;
    overflow-y: scroll;
}